<!DOCTYPE html>
<html>
<head lang="en">

    <title>AppRoom</title>
    <meta charset="utf-8"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>    <link href="../css/main.css" type="text/css" rel="stylesheet">

    <link href="../css/appRoom.css" type="text/css" rel="stylesheet">
</head>
<body>

<header class="container">
    <div class="row">
        <h1 class="col-sm-4">App room</h1>
        <nav class="col-sm-8 text-right">
            <p><a href="/"/>Home</a></p>

            <p><a href="/appRoom"/>App room</a></p>

            <p><a href="/service/team">Team</a></p>
        </nav>
    </div>
</header>

<section class="container">
    <a href="/taskList"/>
        <figure class="col-sm-2">
            <p>
                <div id="appDescriptionTaskList" class="appDescription">
                    <h3>TaskList</h3>
                </div>
            </p>
            <figcaption><a class="btn btn-primary btn-sm" href="/appTaskList">Get started</a></figcaption>
        </figure>
    </a>
    <figure class="col-sm-2">
        <p><a href="#"/>
        <div class="appDescription">
            <h3>App 1</h3>
        </div>
        </a></p>
    </figure>
    <figure class="col-sm-2">
        <p><a href="#"/>
        <div class="appDescription">
            <h3>App 1</h3>
        </div>
        </a></p>
    </figure>
    <figure class="col-sm-2">
        <p><a href="#"/>
        <div class="appDescription">
            <h3>App 1</h3>
        </div>
        </a></p>
    </figure>
</section>

<footer class="container">
    <div class="row">
        <p class="col-sm-4">&copy; 2017 vRoma</p>
        <ul class="col-sm-8">
            <li class="col-sm-1">...</li>
            <li class="col-sm-1">...</li>
            <li class="col-sm-1">...</li>
        </ul>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>