<!doctype html>
<html ng-app="app">

    <head>
        <meta charset="utf-8">

        <title>task list</title>

        <!-- Vendor libraries -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//rawgit.com/tamtakoe/oi.select/master/dist/select.css" />
        <link rel="stylesheet" type="text/css" href="/css/taskList.css"/>

        <!--javascript-->
        <script src="/js/lib/jquery-3.1.1.js"></script>
        <!--angular-->
        <script src="/js/lib/angular.js"></script>
        <script src="/js/lib/angular-route.js"></script>
        <script src="/js/lib/angular-sanitize.js"></script>
        <script src="/js/lib/angular-resource.js"></script>
        <script src="/js/lib/angular-cookies.js"></script>


    </head>

    <body>

        <div ng-controller="workPlaceController">

            <!-- Head -->
            <table width="900" class="dataTable">
                <tr>
                    <td>
                        <updatable-text f-call-back="getCurrentTime"></updatable-text>
                    </td>
                    <td>
                        <a href = "#/currentPrincipalInformation"/>{{principal.name}}</a>
                        <span style='padding-left:10px;'> </span>
                        <button ng-show="!principal.authenticated" ng-click="login()" type="button" size="sm" title="log-in">
                            <span class="glyphicon glyphicon-log-in"></span>
                        </button>
                        <button ng-show="principal.authenticated" ng-click="logout()" type="button" size="sm" title="log-out">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </button>
                    </td>
                </tr>
            </table>

            <!-- Menu -->
            <br>
            <menu-bar menu-bar="menuBar"></menu-bar>

            <!-- App -->
            <div>
                <br>
                <br>
                <message-line error-descriptions = "errorDescriptions"> Message </message-line>

                <br>
                <br>
                <div ng-view> </div>
            </div>

        </div>

        <!-- Vendor libraries -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="//rawgit.com/tamtakoe/oi.select/master/dist/select-tpls.js"></script>

        <!-- Application Files -->
        <script src="/js/app/Forms/formsDirective.js"></script>
        <script src="/js/app/Forms/formsService.js"></script>

        <script src="/js/app/User/userController.js"></script>
        <script src="/js/app/User/userModel.js"></script>
        <script src="/js/app/Project/projectController.js"></script>
        <script src="/js/app/Project/projectModel.js"></script>
        <script src="/js/app/Task/taskController.js"></script>
        <script src="/js/app/Task/taskModel.js"></script>

        <script src="/js/app/appController.js"></script>
        <script src="/js/app/appDirective.js"></script>
        <script src="/js/app/appService.js"></script>
        <script src="/js/app/appUtils.js"></script>
        <script src="/js/app/app.js"></script>

        <script src="/js/app/INPROGRESS.js"></script>

    </body>

</html>