<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>

<header class="container">
    <div class="row">
        <h1 class="col-sm-4">Task list</h1>
        <nav class="col-sm-8 text-right">
            <p><a href="/appRoom"/>App room</a></p>
            <p><a href="/appTaskList"/>TaskList</a></p>
            <p><a href="team.html">Team</a></p>
        </nav>
    </div>
</header>

<div class="header">
    <div class="container">
        <ul class="nav">
            <a href="index.html">
                <li>Home</li>
            </a>
            <a href="http://localhost:8080/appTaskList">
                <li>TaskList</li>
            </a>
            <a href="team.html">
                <li>Team</li>
            </a>
            <li>Contact</li>
        </ul>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="main">
            <h1>Task list</h1>
            <a class="btn btn-main" href="http://localhost:8080/appTaskList">Get started</a>
        </div>
    </div>
</div>

<div class="context">
    <div class="supporting">
        <div class="container">
            <h1>Used skills:</h1>

            <div class="coldiv">
                <div class="col">
                    <img src="img/backend.png">

                    <div class="skill">
                        <ul>
                            <li>Java.</li>
                            <li>Spring boot.</li>
                            <li>Spring security.</li>
                            <li>MySQL.</li>
                            <li>SQL.</li>
                            <li>Hibernate.</li>
                            <li>Send mail.</li>
                        </ul>
                    </div>
                    <a class="btn btn-default" href="#">Learn more</a>
                </div>

                <div class="col">
                    <img src="img/frontend.png">

                    <div class="skill">
                        <ul>
                            <li>HTML.</li>
                            <li>CSS.</li>
                            <li>Javascript.</li>
                            <li>jQuery.</li>
                            <li>Angular.js.</li>
                            <li>React.js.</li>
                        </ul>
                    </div>
                    <a class="btn btn-default" href="#">Learn more</a>
                </div>

                <div class="col">
                    <img src="img/deploy.png">

                    <div class="skill">
                        <ul>
                            <li>git.</li>
                            <li>maven.</li>
                            <li>github.</li>
                            <li>grunt.</li>
                            <li>bower.</li>
                        </ul>
                    </div>
                    <a class="btn btn-default" href="#">Learn more</a>
            </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p>&copy; vRoma 2017</p>
    </div>
</div>

</body>
</html>