<!DOCTYPE html>
<html>
<head>
    <title>Task list</title>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="../css/main.css" type="text/css" rel="stylesheet">

    <link href="../css/taskList.css" type="text/css" rel="stylesheet">
</head>
<body>

<header class="container">
    <div class="row">
        <h1 class="col-sm-4">Task list</h1>
        <nav class="col-sm-8 text-right">
            <p><a href="/"/>Home</a></p>
            <p><a href="/appRoom"/>App room</a></p>
            <p><a href="/appTaskList"/>TaskList</a></p>
            <p><a href="/service/team">Team</a></p>
        </nav>
    </div>
</header>

<section class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <h2>Task list</h2>
            <a class="btn btn-primary btn-lg" href="/appTaskList">Get started</a>
        </div>
    </div>
</section>

<section class="container">
    <div class="row text-center">
        <h1>Used skills:</h1>
    </div>
    <div class="row">
        <div class="usedSkills">
            <div class="row">
                <figure class="col-sm-2">
                    <img src="../img/backend.png">
                    <div class="skill">
                        <ul>
                            <li>Java.</li>
                            <li>Spring boot.</li>
                            <li>Spring security.</li>
                            <li>MySQL.</li>
                            <li>SQL.</li>
                            <li>Hibernate.</li>
                            <li>Send mail.</li>
                        </ul>
                    </div>
                    <a class="btn btn-default" href="#">Learn more</a>
                </figure>
                <figure class="col-sm-2">
                    <img src="../img/frontend.png">
                    <div class="skill">
                        <ul>
                            <li>HTML.</li>
                            <li>CSS.</li>
                            <li>Javascript.</li>
                            <li>jQuery.</li>
                            <li>Angular.js.</li>
                            <li>React.js.</li>
                        </ul>
                </div>
                    <a class="btn btn-default" href="#">Learn more</a>
                </figure>
                <figure class="col-sm-2">
                    <img src="../img/deploy.png">
                    <div class="skill">
                        <ul>
                            <li>git.</li>
                            <li>maven.</li>
                            <li>github.</li>
                            <li>grunt.</li>
                            <li>bower.</li>
                        </ul>
                    </div>
                    <a class="btn btn-default" href="#">Learn more</a>
                </figure>
            </div>
        </div>
    </div>
</section>

<footer class="container">
    <div class="row">
        <p class="col-sm-4">&copy; 2017 vRoma</p>
        <ul class="col-sm-8">
            <li class="col-sm-1">...</li>
            <li class="col-sm-1">...</li>
            <li class="col-sm-1">...</li>
        </ul>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>