<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
  </head>
<body>

  <div class="header">
    <div class="container">
      <ul class="nav">
        <a href="index.html"> <li>Home</li> </a>
        <a href="#"> <li>TaskList</li> </a>
        <a href="team.html"> <li>Team</li> </a>
        <li>Contact</li>
      </ul>
    </div>
  </div>

  <div class="container">  
    <h1>Roman Vlasiuk</h1>
      
    <table>
        <tr>
          <td> Home Address: </td>
          <td> Cherkasy, Ukraine </td>
        </tr>
        <tr>
          <td> Sex: </td>
          <td> male </td>
        </tr>
        <tr>
          <td> Year of birth: </td>
          <td> 1984 </td>
        </tr>
        <tr>
          <td> Contact info: </td>
          <td> skype: roman_vlasuk <br/> email: vlasiukrv@gmail.com <br/> mob:+380634471070 <br/></td>
        </tr>        
    </table>

    <br/>

    <table border="1">
        <tr>
          <td> POSITION: </td>
          <td> Junior Java Developer </td>
        </tr>
        <tr>
          <td> PROFILE SUMMARY: </td>
          <td> 
            1С developer with strong technical background, 9 years experience in creating 1С apps. <br/>Geekhub (Cherkasy) certified student (2014-2015) at “Java for Web” course. <b>Position objective - junior Java developer</b>.
          </td>
        </tr>
        <tr>
          <td> <b>EXPERIENCE:</b> </td>
          <td>  </td>
        </tr>
        <tr>
          <td> 2006-2016 </td>
          <td>“ІН-Агро”, Cherkasy, developing 1C applications for enterprises. <b>senior 1C developer, architect, team lead</b>.<br/>

            Duties:<br/>
            <ul>
              <li> Development and implementation of core functionality and support tools </li>
              <li> Database design (1С) </li>
              <li> Business Analysis for crop processing enterprises (elevators). </li>
              <li> 
                Architecture design 
                  <ul>
                    <li> Investigating alternatives and implementing better solutions </li>
                    <li> Support and maintenance </li>
                    <li> Refactoring </li>
                  </ul>
              </li>
              <li> Testing and debugging 
                <ul>
                  <li> Performance tuning </li>
                </ul>
              </li>
              <li> Supervising junior and mid developers 
                <ul>
                  <li> technical leading of the projects </li>
                  <li> technical supervising of the projects </li>
                </ul>
              </li>
            </ul>
            <br/>
            Technologies:
            <ul>
              <li>1C 7.7</li>
              <li>1C 8.x</li>
            </ul>
          </td>
        </tr>  
        <tr>
          <td> EDUCATION: </td>
          <td>  </td>
        </tr>
        <tr>
          <td> 2001-2006 </td>
          <td> Cherkasy State Technological University, Cherkasy, Ukraine <i>Speciality</i>: Computer systems and networks.<br/> <i>Degree:</i> specialist, honours degree </td>
        </tr>
        <tr>
          <td>
            2014-2015
          </td>
          <td>
            Geekhub (Cherkasy) (2014-2015) at “Java for Web” course
          </td>
        </tr>
        <tr>
          <td>
            CERTIFICATES
          </td>
          <td>            
            <ul>                      
              <li> «1С: Професіонал» 1С:Підприємство 8, </li>
              <li> «1С: Професіонал» 1С:Бухгалтерія 8 для Укрїни, </li>
              <li> «1С: Професіонал» 1С Управління виробничим підприємством для України </li>
              <li> Geekhub certificate “Java for Web” (Cherkasy) </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            LANGUAGES
          </td>
          <td>
            <ul>
              <li> Ukrainian and Russian: fluently as native<li/>
              <li> English: intermediate </li>
            </ul>
          </td>
        </tr>
    </table>
    <br/>

    IT SKILLS
    <br/>
    <table border="1">
        <tr>
          <td>
            <b>Programming Language</b>
          </td>
          <td>
            <b>Working experience</b>
          </td>
          <td>
            <b>Professional level</b>
          </td>
          <td>
            <b>Last used</b>
          </td>
        </tr>
        <tr>
          <td>
            1C
          </td>
          <td>
            10 years
          </td>
          <td>
            Expert
          </td>
          <td>
            using it right now
          </td>                              
        </tr>
        <tr>
          <td>
            Java
          </td>
          <td>
            2 years
          </td>
          <td>
            Beginner
          </td>
          <td>
            using it right now
          </td>
        </tr>
        <tr>
          <td>
            SQL
          </td>
          <td>
            1 years
          </td>
          <td>
            Beginner
          </td>
          <td>
            using it right now
          </td>
        </tr>
        <tr>
          <td>
            javascript
          </td>
          <td>
            1 years
          </td>
          <td>
            Beginner
          </td>
          <td>
            using it right now
          </td>
        </tr>
        <tr>
          <td>
            HTML, CSS
          </td>
          <td>
            0,5 years
          </td>
          <td>
            Beginner
          </td>
          <td>
            using it right now
          </td>
        </tr>
        <tr>
          <td>
            <b>Technologies</b>
          </td>
          <td>
            <b>Working experience</b>
          </td>
          <td>
            <b>Professional level</b>
          </td>
          <td>
            <b>Last used</b>
          </td>
        </tr>
        <tr>
          <td>
            Java (Spring, Hibernate)
          </td>
          <td>
            1 year
          </td>
          <td>
            Beginner
          </td>
          <td>
            using it right now
          </td>
        </tr>
        <tr>
          <td>
            Ajax
          </td>
          <td>
            1 year
          </td>
          <td>
            Beginner
          </td>
          <td>
            using it right now
          </td>
        </tr>        
    </table>

    <br/>
    <b>Personal characteristics</b>: responsibility, commitment, balanced, able to work with team, easy learn new materials and technologies.

    <br/>
    <b>Hobby:</b> volleyball, ping-pong.

    <br/>
    <b>References:</b> Available upon request

    <br />

  </div>

  <div class="footer">
    <div class="container">
      <p>&copy; vRoma 2017</p>
    </div>
  </div>

</body>
</html>