<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="../css/main.css" type="text/css" rel="stylesheet">

  </head>
<body>

<header class="container">
  <div class="row">
    <h1 class="col-sm-4">Task list</h1>
    <nav class="col-sm-8 text-right">
      <p><a href="/"/>Home</a></p>
      <p><a href="/appRoom"/>App room</a></p>
    </nav>
  </div>
</header>

<section class="container">

  <div class="row text-center">
    <div class="col-sm-12">
      <h1>Roman Vlasiuk</h1>
    </div>
  </div>

  <div class="row ">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-6">

      <table class="text-left">
          <tr>
            <td> Home Address: </td>
            <td> Cherkasy, Ukraine </td>
          </tr>
          <tr>
            <td> Sex: </td>
            <td> male </td>
          </tr>
          <tr>
            <td> Year of birth: </td>
            <td> 1984 </td>
          </tr>
          <tr>
            <td> Contact info: </td>
            <td> skype: roman_vlasuk <br/> email: vlasiukrv@gmail.com <br/> mob:+380634471070 <br/></td>
          </tr>
      </table>

    </div>
  </div>

  <div class="row">

    <div class="col-sm-2">

    </div>

    <div class="col-sm-10">

      <table border="1" class="text-left">
          <tr>
            <td> POSITION: </td>
            <td> Junior Java Developer </td>
          </tr>
          <tr>
            <td> PROFILE SUMMARY: </td>
            <td>
              1С developer with strong technical background, 9 years experience in creating 1С apps. <br/>Geekhub (Cherkasy) certified student (2014-2015) at “Java for Web” course. <b>Position objective - junior Java developer</b>.
            </td>
          </tr>
          <tr>
            <td> <b>EXPERIENCE:</b> </td>
            <td>  </td>
          </tr>
          <tr>
            <td> 2006-2016 </td>
            <td>“ІН-Агро”, Cherkasy, developing 1C applications for enterprises. <b>senior 1C developer, architect, team lead</b>.<br/>

              Duties:<br/>
              <ul>
                <li> Development and implementation of core functionality and support tools </li>
                <li> Database design (1С) </li>
                <li> Business Analysis for crop processing enterprises (elevators). </li>
                <li>
                  Architecture design
                    <ul>
                      <li> Investigating alternatives and implementing better solutions </li>
                      <li> Support and maintenance </li>
                      <li> Refactoring </li>
                    </ul>
                </li>
                <li> Testing and debugging
                  <ul>
                    <li> Performance tuning </li>
                  </ul>
                </li>
                <li> Supervising junior and mid developers
                  <ul>
                    <li> technical leading of the projects </li>
                    <li> technical supervising of the projects </li>
                  </ul>
                </li>
              </ul>
              <br/>
              Technologies:
              <ul>
                <li>1C 7.7</li>
                <li>1C 8.x</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td> EDUCATION: </td>
            <td>  </td>
          </tr>
          <tr>
            <td> 2001-2006 </td>
            <td> Cherkasy State Technological University, Cherkasy, Ukraine <i>Speciality</i>: Computer systems and networks.<br/> <i>Degree:</i> specialist, honours degree </td>
          </tr>
          <tr>
            <td>
              2014-2015
            </td>
            <td>
              Geekhub (Cherkasy) (2014-2015) at “Java for Web” course
            </td>
          </tr>
          <tr>
            <td>
              CERTIFICATES
            </td>
            <td>
              <ul>
                <li> «1С: Професіонал» 1С:Підприємство 8, </li>
                <li> «1С: Професіонал» 1С:Бухгалтерія 8 для Укрїни, </li>
                <li> «1С: Професіонал» 1С Управління виробничим підприємством для України </li>
                <li> Geekhub certificate “Java for Web” (Cherkasy) </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              LANGUAGES
            </td>
            <td>
              <ul>
                <li> Ukrainian and Russian: fluently as native<li/>
                <li> English: intermediate </li>
              </ul>
            </td>
          </tr>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">

    </div>

    <div class="col-sm-10">

      IT SKILLS
      <table border="1" class="text-left">
          <tr>
            <td>
              <b>Programming Language</b>
            </td>
            <td>
              <b>Working experience</b>
            </td>
            <td>
              <b>Professional level</b>
            </td>
            <td>
              <b>Last used</b>
            </td>
          </tr>
          <tr>
            <td>
              1C
            </td>
            <td>
              10 years
            </td>
            <td>
              Expert
            </td>
            <td>
              using it right now
            </td>
          </tr>
          <tr>
            <td>
              Java
            </td>
            <td>
              2 years
            </td>
            <td>
              Beginner
            </td>
            <td>
              using it right now
            </td>
          </tr>
          <tr>
            <td>
              SQL
            </td>
            <td>
              1 years
            </td>
            <td>
              Beginner
            </td>
            <td>
              using it right now
            </td>
          </tr>
          <tr>
            <td>
              javascript
            </td>
            <td>
              1 years
            </td>
            <td>
              Beginner
            </td>
            <td>
              using it right now
            </td>
          </tr>
          <tr>
            <td>
              HTML, CSS
            </td>
            <td>
              0,5 years
            </td>
            <td>
              Beginner
            </td>
            <td>
              using it right now
            </td>
          </tr>
          <tr>
            <td>
              <b>Technologies</b>
            </td>
            <td>
              <b>Working experience</b>
            </td>
            <td>
              <b>Professional level</b>
            </td>
            <td>
              <b>Last used</b>
            </td>
          </tr>
          <tr>
            <td>
              Java (Spring, Hibernate)
            </td>
            <td>
              1 year
            </td>
            <td>
              Beginner
            </td>
            <td>
              using it right now
            </td>
          </tr>
          <tr>
            <td>
              javascript (angular 1.1, react)
            </td>
            <td>
              0,5 year
            </td>
            <td>
              Beginner
            </td>
            <td>
              using it right now
            </td>
          </tr>
          <tr>
            <td>
              Ajax
            </td>
            <td>
              1 year
            </td>
            <td>
              Beginner
            </td>
            <td>
              using it right now
            </td>
          </tr>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">

    </div>

    <div class="col-sm-6">
      <p>
        <b>Personal characteristics</b>: responsibility, commitment, balanced, able to work with team, easy learn new materials and technologies.
      </p>
      <p>
        <b>Hobby:</b> volleyball, ping-pong.
      </p>
      <p>
        <b>References:</b> Available upon request
      </p>
    </div>

  </div>

</section>

<footer class="container">
  <div class="row">
    <p class="col-sm-4">&copy; 2017 vRoma</p>
    <ul class="col-sm-8">
      <li class="col-sm-1">...</li>
      <li class="col-sm-1">...</li>
      <li class="col-sm-1">...</li>
    </ul>
  </div>
</footer>

<script src="../js/lib/jquery.min.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>

</body>
</html>