<div class="col-lg-6">

    <div class="tableName">
        <h3>Principal information:</h3>
    </div>

    <div class="window">
        <table width="900" class="dataTable">
            <tr>
                <td>Name:</td>
                <td>{{principal.name}}</td>
            </tr>
            <tr>
                <td>SessionId:</td>
                <td>{{principal.sessionId}}</td>
            </tr>
            <tr>
                <td>authorities:</td>
                <td>{{principal.authorities}}</td>
            </tr>
            <tr>
                <td>currentUser:</td>
                <td>{{principal.currentUser.representation}}</td>
            </tr>
        </table>

    </div>

</div>