<!doctype html>
<html ng-app="app">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>task list</title>

        <!-- Vendor libraries -->
        <!-- Bootstrap -->
        <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//rawgit.com/tamtakoe/oi.select/master/dist/select.css" />
        <link rel="stylesheet" type="text/css" href="/css/taskList.css"/>

        <script type="text/javascript" src="/js/lib/jquery-3.1.1.js"></script>

        <script type="text/javascript" src="/js/lib/angular.js"></script>
        <script type="text/javascript" src="/js/lib/angular-route.js"></script>
        <script type="text/javascript" src="/js/lib/angular-sanitize.js"></script>
        <script type="text/javascript" src="/js/lib/angular-resource.js"></script>


    </head>

    <body>

        <div ng-controller="workPlaceController">

            <!-- NavBar -->
            <div class = "navbar-header">
                <a class = "navbar-brand"href = "#/">
                    Home
                </a>
            </div>

            <div>
                <ul class = "nav navbar-nav">

                    <li class = "dropdown">
                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                            Model
                            <b class = "caret"></b>
                        </a>

                        <ul class = "dropdown-menu">
                            <li>
                                <a href = "#task">
                                    <span class = "glyphicon glyphicon-bell">Task</span>
                                </a>
                            </li>
                            <li>
                                <a href = "#project">
                                    <span class = "glyphicon glyphicon-file">Project</span>
                                </a>
                            </li>
                            <li>
                                <a href = "#user">
                                    <span class = "glyphicon glyphicon-file">User</span>
                                </a>
                            </li>

                            <li class = "divider"></li>
                            <li><a href = "#">Separated link</a></li>
                        </ul>

                    </li>

                    <li class = "active">
                        <a href = "#/login">
                            login
                        </a>
                    </li>

                    <li class = "active">
                        <a href = "#" ng-click="logout()">
                            <span class = "glyphicon glyphicon-user"></span> log out {{userName}} </updatable-text>
                        </a>
                    </li>

                    <li class = "dropdown">
                        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                            System
                            <b class = "caret"></b>
                        </a>

                        <ul class = "dropdown-menu">
                            <li>
                                <a href = "#" ng-click="initDataBase()">
                                    <span>initDataBase</span>
                                </a>
                            </li>
                            <li>
                                <a href = "#" ng-click="runArchiveService()">
                                    <span>runArchiveService</span>
                                </a>
                            </li>
                            <li>
                                <a href = "#" ng-click="stopArchiveService()">
                                    <span>stopArchiveService</span>
                                </a>
                            </li>
                            <li>
                                <a href = "#" ng-click="interruptTaskExecutor()">
                                    <span>interruptTaskExecutor</span>
                                </a>
                            </li>

                        </ul>

                    </li>

                    <li class = "active">
                        <a href = "#"> <updatable-text f-call-back="getCurrentTime"></updatable-text> </a>
                    </li>



                </ul>

            </div>

            <!-- App -->
            <br>
            <br>

            <message-line error-descriptions = "errorDescriptions"> Message </message-line>

            <br>

            <br>
            <div ng-view> </div>

            <br>

        </div>

        <!-- Vendor libraries -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="//rawgit.com/tamtakoe/oi.select/master/dist/select-tpls.js"></script>

        <!-- Application Files -->
        <script type="text/javascript" src="/js/app/Forms/formsDirective.js"></script>
        <script type="text/javascript" src="/js/app/Forms/formsService.js"></script>

        <script type="text/javascript" src="/js/app/Login/loginController.js"></script>
        <script type="text/javascript" src="/js/app/User/userController.js"></script>
        <script type="text/javascript" src="/js/app/User/userModel.js"></script>
        <script type="text/javascript" src="/js/app/Project/projectController.js"></script>
        <script type="text/javascript" src="/js/app/Project/projectModel.js"></script>
        <script type="text/javascript" src="/js/app/Task/taskController.js"></script>
        <script type="text/javascript" src="/js/app/Task/taskModel.js"></script>

        <script type="text/javascript" src="/js/app/appController.js"></script>
        <script type="text/javascript" src="/js/app/appDirective.js"></script>
        <script type="text/javascript" src="/js/app/appService.js"></script>
        <script type="text/javascript" src="/js/app/appUtils.js"></script>
        <script type="text/javascript" src="/js/app/app.js"></script>

    </body>

</html>