<span>
    <div class="alert alert-danger" ng-show="credentials.error">
        There was a problem logging in. Please try again.
    </div>
    <form role="form" ng-submit="login()">
        <div class="form-group">
            <label for="username">Username:</label> <input type="text"
                                                           class="form-control" id="username" name="username"
                                                           ng-model="credentials.username"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label> <input type="password"
                                                           class="form-control" id="password" name="password"
                                                           ng-model="credentials.password"/>
        </div>
        <button type="submit" class="btn">Submit</button>
        <button ng-click="showLogin=false; eventAfterLogin()" class="btn" title="cancel">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </button>

    </form>
</span>