<div class="row">
    <div class="col-sm-12">
        <p>
        <button ng-click="closeForm()" type="button" size="sm" title="close form">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button ng-click="updateForm()" type="button" size="sm" title="refresh form">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <button ng-click="createEntity()" type="button" size="sm" title="save form">
            <span class="glyphicon glyphicon-floppy-save"></span>
        </button>

        <b> {{entityEditForm.editFormName}} </b>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div ng-repeat="entityfieldsrow in entityEditForm.entityFieldsPlacing track by $index">
            <entity-edit-form-row
                    entityfieldsrow="entityfieldsrow"
                    entityeditform="entityEditForm">
            </entity-edit-form-row>
        </div>
    </div>
</div>
