<div class="input-group input-group-sm">

    <div ng-switch on="property.inputType">

        <!--enum-->
        <div ng-switch-when="enum">

            <label>{{property.label}}:</label>

            <div class="input-group">

                <select class="form-control"
                        ng-model="entity[property.name]"
                        ng-disabled="{{!property.availability}}"
                        ng-options="el for el in selectList"
                        ng-change="propertyChanged()"
                        title="{{property.label}}">

                    <option value="" selected="">--Chose {{property.label}}--</option>

                </select>

                        <span class="input-group-btn">
                           <button
                                   class="btn btn-default"
                                   ng-click="refreshSelectList(property, selectList)"
                                   type="button"
                                   title="refresh report">

                               <span class="glyphicon glyphicon-refresh"></span>

                           </button>
                       </span>

            </div>

        </div>

        <!--select-->
        <div ng-switch-when="select">

            <label>{{property.label}}:</label>

            <div class="input-group">

                <select class="form-control"
                        ng-model="entity[property.name]"
                        ng-disabled="{{!property.availability}}"
                        ng-options="el.representation for el in selectList track by el.id"
                        ng-change="propertyChanged()"
                        title="{{property.label}}">

                    <option value="" selected="">--Chose {{property.label}}--</option>

                </select>

                        <span class="input-group-btn">
                           <button
                                   class="btn btn-default"
                                   ng-click="refreshSelectList(property, selectList)"
                                   type="button"
                                   title="refresh report">

                               <span class="glyphicon glyphicon-refresh"></span>

                           </button>
                       </span>

            </div>

        </div>

        <div ng-switch-when="multiselect">

            <label>{{property.label}}:</label>

            <div class="input-group">

                <oi-select
                           ng-model="entity[property.name]"
                           ng-disabled="{{!property.availability}}"
                           oi-options="el.representation for el in selectList track by el.id"
                           multiple
                           placeholder="Select"
                           oi-select-options="{
                                            closeList: false,
                                            cleanModel: true}">

                </oi-select>

                <span class="input-group-btn">
                    <button
                            class="btn btn-default"
                            ng-click="refreshSelectList(property, selectList)"
                            type="button"
                            title="refresh report">

                        <span class="glyphicon glyphicon-refresh"></span>

                    </button>
                </span>
            </div>

        </div>

        <!--date-->
        <div ng-switch-when="date">

            <label>{{property.label}}:</label>

            <input
                    type="date"
                    sm-datepicker
                    ng-model="entity[property.name]"
                    ng-disabled="{{!property.availability}}"
                    class="date form-control"/>
        </div>

        <!--checkbox-->
        <div ng-switch-when="checkbox">
            <input
                    type="checkbox"
                    ng-model="entity[property.name]"
                    ng-disabled="{{!property.availability}}"
                    class="form-control"/>
            <label>{{property.label}}:</label>
        </div>

        <!--textarea-->
        <div ng-switch-when="textarea">
            <label>{{property.label}}:</label>
                <textarea
                        style="min-width: 100%"
                        ng-model="entity[property.name]"
                        ng-disabled="{{!property.availability}}"
                        />
                </textarea>
        </div>

        <!--default-->
        <div ng-switch-default>
            <label>{{property.label}}:</label>
            <input
                    type="{{property.inputType}}"
                    ng-model="entity[property.name]"
                    ng-disabled="{{!property.availability}}"
                    class="form-control"
                    />
        </div>

    </div>

</div>
