<!doctype html>
<html ng-app="app">

<head>

    <title>Task list (app)</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//rawgit.com/tamtakoe/oi.select/master/dist/select.css"/>
<!--    <link rel="stylesheet" href="https://raw.githubusercontent.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-2.5.0-csp.css"/>-->

    <link href="../../../css/main.css" type="text/css" rel="stylesheet"/>
    <link href="../../../css/taskListApp.css" type="text/css" rel="stylesheet" />

    <!--javascript-->
    <script src="../../../js/lib/jquery.min.js"></script>
    <script type="text/javascript">$(window).on('load', function () {
        var $preloader = $('#p_prldr'),
                $svg_anm   = $preloader.find('.svg_anm');
        $svg_anm.fadeOut();
        $preloader.delay(500).fadeOut('slow');
    });
    </script>
    <!--angular-->
    <script src="../../../js/lib/angular.js"></script>
    <script src="../../../js/lib/angular-route.js"></script>
    <script src="../../../js/lib/angular-sanitize.js"></script>
    <script src="../../../js/lib/angular-resource.js"></script>
    <script src="../../../js/lib/angular-cookies.js"></script>

</head>

<body>

<div id="p_prldr">
    <div class="contpre">
        Please wait<br><small> while downloading</small>
        <div class="spinner"></div><br>
    </div>
</div>

<div ng-controller="workPlaceController">

    <header class="container">
        <div class="row">

            <div class="col-sm-2">
                <h1>Task list</h1>
                <updatable-text f-call-back="getCurrentTime"></updatable-text>
            </div>

            <nav class="col-sm-10 text-right">

                <p><a href="/"/>App room</a></p>

                <p><a href="/taskList"/>Description</a></p>

                <p><a href="/service/team">Team</a></p>

                <p><a href="#/currentPrincipalInformation"/>{{principal.name}}</a> </p>

                <p>
                    <button ng-show="!principal.authenticated" ng-click="login()" type="button" size="sm"
                            title="log-in">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </button>
                    <button ng-show="principal.authenticated" ng-click="logout()" type="button" size="sm"
                            title="log-out">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </button>
                </p>
            </nav>
        </div>
    </header>

    <section class="container">
        <div class="row">
            <!-- Menu -->
            <div class="col-sm-2">
                <p>
                    <menu-bar class="commandBar" menu-bar="commandBar"></menu-bar>
                </p>
            </div>
            <!-- App -->
            <div class="col-sm-10">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Work place">

                        <div ng-view class="appWorkPlace alert alert-success" role="alert">

                        </div>

                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <i class="glyphicon glyphicon-bell"></i> Message
                        </uib-tab-heading>
                        <div class="appWorkPlace alert alert-danger" role="alert">
                            <message-line error-descriptions="errorDescriptions"></message-line>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </section>

</div>

<footer class="container">
    <div class="row">
        <p class="col-sm-4">&copy; 2017 vRoma</p>
        <ul class="col-sm-8">
            <li class="col-sm-1">...</li>
            <li class="col-sm-1">...</li>
            <li class="col-sm-1">...</li>
        </ul>
    </div>
</footer>

<!-- Vendor libraries -->
<script src="../../../js/lib/bootstrap.min.js"></script>

<script src="../../../js/lib/ui-bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

<script src="//rawgit.com/tamtakoe/oi.select/master/dist/select-tpls.js"></script>

<!-- Application Files -->
<script src="../../../js/app/appUtils.js"></script>

<script src="../../../js/app/forms/formsDirective.js"></script>
<script src="../../../js/app/forms/formsService.js"></script>

<script src="../../../js/app/domain/user/userController.js"></script>

<script src="../../../js/app/domain/project/projectController.js"></script>
<script src="../../../js/app/domain/task/taskController.js"></script>

<script src="../../../js/app/appController.js"></script>
<script src="../../../js/app/appDirective.js"></script>
<script src="../../../js/app/appService.js"></script>
<script src="../../../js/app/app.js"></script>

<script src="../../../js/app/domain/enumModel.js"></script>
<script src="../../../js/app/domain/user/userModel.js"></script>
<script src="../../../js/app/domain/project/projectModel.js"></script>
<script src="../../../js/app/domain/task/taskModel.js"></script>

</body>

</html>