<!doctype html>
<html ng-app="app">

<head>

    <title>Task list (app)</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="../../../css/main.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="//rawgit.com/tamtakoe/oi.select/master/dist/select.css"/>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-2.5.0-csp.css"/>
    <link rel="stylesheet" href="/css/taskListApp.css"/>

    <!--javascript-->
    <script src="/js/lib/jquery-3.1.1.js"></script>
    <!--angular-->
    <script src="/js/lib/angular.js"></script>
    <script src="/js/lib/angular-route.js"></script>
    <script src="/js/lib/angular-sanitize.js"></script>
    <script src="/js/lib/angular-resource.js"></script>
    <script src="/js/lib/angular-cookies.js"></script>

</head>

<body>

<div ng-controller="workPlaceController">

    <header class="container">
        <div class="row">

            <div class="col-sm-2">
                <h1>Task list</h1>
                <updatable-text f-call-back="getCurrentTime"></updatable-text>
            </div>

            <nav class="col-sm-10 text-right">

                <p><a href="/"/>App room</a></p>

                <p><a href="/taskList"/>Description</a></p>

                <p><a href="/service/team">Team</a></p>

                <p><a href="#/currentPrincipalInformation"/>{{principal.name}}</a> </p>

                <p>
                    <button ng-show="!principal.authenticated" ng-click="login()" type="button" size="sm"
                            title="log-in">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </button>
                    <button ng-show="principal.authenticated" ng-click="logout()" type="button" size="sm"
                            title="log-out">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </button>
                </p>
<!--
                <p>
                    <button ng-click="proba()" type="button" size="sm" title="log-out">

                    </button>
                </p>
-->
            </nav>
        </div>
    </header>

    <section class="container">
        <div class="row">

            <div class="col-sm-2 align-self-start">
                <!-- Menu -->
                <p>
                    <menu-bar class="commandBar" menu-bar="commandBar"></menu-bar>
                </p>
            </div>
            <div class="col-sm-10 align-self-start">

                <!-- App -->
                <div class="alert alert-success appWorkPlace" role="alert">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4 class="alert-heading">Work place</h4>
                                    </a>
                                </h5>
                            </div>

                            <div ng-view id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">

                            </div>

                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4 class="alert-heading">Message</h4>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block">
                                    <div class="card-block">
                                        <message-line error-descriptions="errorDescriptions"></message-line>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

<footer class="container">
    <div class="row">
        <p class="col-sm-4">&copy; 2017 vRoma</p>
        <ul class="col-sm-8">
            <li class="col-sm-1">...</li>
            <li class="col-sm-1">...</li>
            <li class="col-sm-1">...</li>
        </ul>
    </div>
</footer>

<!-- Vendor libraries -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<!--
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->

<script src="//rawgit.com/tamtakoe/oi.select/master/dist/select-tpls.js"></script>

<!-- Application Files -->
<script src="/js/app/appUtils.js"></script>

<script src="/js/app/Forms/formsDirective.js"></script>
<script src="/js/app/Forms/formsService.js"></script>

<script src="/js/app/domain/user/userController.js"></script>

<script src="/js/app/domain/project/projectController.js"></script>
<script src="/js/app/domain/task/taskController.js"></script>

<script src="/js/app/appController.js"></script>
<script src="/js/app/appDirective.js"></script>
<script src="/js/app/appService.js"></script>
<script src="/js/app/app.js"></script>

<script src="/js/app/domain/enumModel.js"></script>
<script src="/js/app/domain/user/userModel.js"></script>
<script src="/js/app/domain/project/projectModel.js"></script>
<script src="/js/app/domain/task/taskModel.js"></script>

</body>

</html>