
<div class="app-popup" ng-show="errorDescriptions.show">
    <div class="app-popup-content">

        <br>
        <table>
            <tr>
                <td width="400" align="left"></td>
                <td>
                    <button ng-click="errorDescriptions.show=false;" class="btn btn-primary" title="cancel">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="errorDescription in errorDescriptions.errorDescriptions track by $index">
                <td width="400" align="left">
                    <div class="alert alert-danger">
                        Error
                        <br>
                        {{errorDescription.statusText}}
                    </div>
                </td>
                <td align="center">
                    <button ng-click="deleteErrorDescription($index)" type="button" size="sm" title="ok">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </td>
            </tr>
        </table>

    </div>
</div>
